@model IEnumerable<BooksProiektua.Models.Book>

@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @{String image = item.imageLink;}
            <img class="image" src="~/@image" alt="" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { action = 1, id = item.num})
        </td>
    </tr>
}

</table>
