@model BooksProiektua.Models.Book

@{
    ViewBag.Title = "SelectOne";
}
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
</head>
<body>
    <div class="divBg w3-row-padding w3-padding-16 vertical-center horizontal-center w3-container" style="height:40%; width:60%;">
        <h1>@Html.DisplayFor(model => model.title)</h1>
        <div class="w3-half" style="padding:20px">

            <dl class="dl-horizontal">
                <dt style="text-align:left">
                    Num:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.num)
                </dd>

                <dt style="text-align:left">
                    Author:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.author)
                </dd>

                <dt style="text-align:left">
                    Country:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.country)
                </dd>

                <dt style="text-align:left">
                    Genres:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.genres)
                </dd>

                <dt style="text-align:left">
                    Language:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.language)
                </dd>

                <dt style="text-align:left">
                    Link:
                </dt>

                <dd>
                    <a href="@Html.DisplayFor(model => model.link)" target="_blank">@Html.DisplayFor(model => model.link)</a>
                </dd>

                <dt style="text-align:left">
                    Pages:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pages)
                </dd>

                <dt style="text-align:left">
                    Title:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.title)
                </dd>

                <dt style="text-align:left">
                    Year:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.year)
                </dd>

            </dl>
        </div>
        <div class="w3-half">

            @{String image = Model.imageLink;}
            <img class="image2" src="~/@image" alt="" />
        </div>
    </div>
</body>