@model IEnumerable<BooksProiektua.Models.Book>

@{
    ViewBag.Title = "Select";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <table class="table table-dark table-striped">
        <div>
            <h1>
            @if (int.Parse(Request.Params["i"]) > 0) {
            @Html.ActionLink("<", "Select", new { i = (int.Parse(Request.Params["i"]) - 10) })
                    }
            @Html.ActionLink(">", "Select", new { i = (int.Parse(Request.Params["i"]) + 10) })</h1>
        </div>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.imageLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.author)
                    </td>
                    <td>
                        @{String image = item.imageLink;}
                        <img class="image" src="~/@image" alt="" />
                    </td>
                    <td>
                        @Html.ActionLink(item.title, "SelectOne", new { num = item.num })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { num = item.num })
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <div>

        <h1>
            @if (int.Parse(Request.Params["i"]) > 0)
            {
                @Html.ActionLink("<", "Select", new { i = (int.Parse(Request.Params["i"]) - 10) })
            }
            @Html.ActionLink(">", "Select", new { i = (int.Parse(Request.Params["i"]) + 10) })
        </h1>
    </div>
</body>